/* header */
header {
  width: 1600px;
  height: 88px;
}
a {
  text-decoration: none;
}
.menu-option:hover {
  color: #2196f3;
}
.menu-option {
  color: #212121;
  font-family: "Roboto", sans-serif;
  line-height: 1.172;
  font-size: 14px;
  font-weight: 500;
}
.contacts {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.172;
  font-weight: 500;
}
.contacts:hover {
  color: #2196f3;
}

.logo > span {
  color: #2196f3;
}
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.174;
}
/* body */
.crew-list li {
  list-style: none;
}
.img-list li {
  list-style: none;
}
.post-list {
  list-style: none;
}
main {
  font-family: "Roboto", sans-serif;
  color: black;
}
h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36, 116%;
  text-align: center;
  line-height: 1.36;
}
.header {
  background-color: #2f303a;
  color: white;
}
.header > button {
  background-color: #2196f3;
  color: white;
  border: none;
  text-align: center;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 41px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
}
.post {
  color: #212121;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 700;
}
.post-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #757575;
}
.section-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.172;
  font-weight: 700;
  text-align: center;
}
.crewmate-section {
  background-color: #f5f4fa;
}
.crewmate-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.172;
  text-align: center;
  color: #212121;
}
.crewmate-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.172px;
  text-align: center;
  color: #757575;
}

/* footer */
footer {
  background-color: #2f303a;
}
address {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  font-weight: 400;
  color: white;
  font-style: normal;
}
.footer-logo {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.174;
}
.footer-logo > span {
  color: #2196f3;
}
.contact-footer:hover {
  color: #2196f3;
}
.contact-footer {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.143;
  color: #ffffff99;
}

/* portfolio */
.buttons button {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  background-color: #f5f4fa;
  border: none;
  text-align: center;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.buttons-all {
  width: 121px;
  height: 38px;
}
.buttons-pages {
  width: 93px;
  height: 38px;
}
.buttons-apps {
  width: 114px;
  height: 38px;
}
.buttons-design {
  width: 91px;
  height: 38px;
}
.buttons-marketing {
  width: 121px;
  height: 38px;
}
.portfolio {
  background-color: #ffffff;
  width: 370px;
  height: 404px;
}
.project-name {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: left;
}
.project-type {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}
.projects-list li {
  list-style: none;
}
